@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  //font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  color: white;
}

.btn {
  background: var(--color-gray-800);
  padding: 2px;
  padding-left: 8px;
  border: 2px solid white;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.btn_category {
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.btn_category:hover {
  color: var(--color-yellow-300);
  font-weight: bold;
}

.btn_category--active {
  color: var(--color-yellow-300);
  font-weight: bold;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-800);
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: #111827;
}
